@page "/about"

<PageTitle>About - Vvarcatox</PageTitle>

<h1>About</h1>
<p>A page for information about myself, especially writing-related, other hobbies and my goal to spread some awareness about neurodivergency.</p>

@code {

}
