@page "/contact"

<PageTitle>Contact - Vvarcatox</PageTitle>

<h1>Contact</h1>
<p>Here should be a contact form for questions and comments. It shall generate a mail sent to an address.</p>

@code {

}
