@page "/projects"

<PageTitle>Projects - Vvarcatox</PageTitle>

<h1>Projects</h1>
<p>Here I will present current projects, e.g. books in progress. I also plan to implement an encyclopedia about the lore/worldbuilding as well as an interactive map which will get their own Nav-Item later.</p>

@code {

}
