@inherits LayoutComponentBase
@using Hub.Web.Components;

<div class="page blackpage">  
    <main>
        <div>           
            <TopMenu />
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
